
h1{
color:chocolate;
}
h2{
color: #971414;
}
h3{
    color: Green;
}
section {
    background: rgb(197, 172, 177);


}
.czerwony{
    color: red;
}
#infooBobo{
    background: rgb(238, 172, 96);
}
a{
    color: teal;
}
section p {
    color: rgb(128, 73, 2);
}
.historiaBobowicka p {
    background: rgb(166, 202, 199);
}
