
h1{
color:rgb(182, 101, 44);
text-align: center;
padding-top: 15px;
}
#wstep{
    text-align: center;
}
h2{
color: #971414;
}
h3{
    color: Green;
}
section {
    background: rgb(197, 172, 177);


}
.czerwony{
    color: red;
}
#infooBobo{
    background: rgb(240, 219, 196);
    text-align: center;
    margin: 16px 10%;
    border: 4px solid gray;
    border-radius: 5%;
}
a{
    color: teal;
}
section p {
    color: rgb(63, 48, 28);
}
.historiaBobowicka p {
    background: rgb(214, 223, 222);
    
}

#glowna{
    background-color: rgb(252, 209, 181);
    margin: 6px 4px;
}
